<h1>{{titulo_empleado}}</h1>
<p>{{lista_empleado}}</p>

{{nombre}}

<strong>Empleado Estrella</strong>
<div *ngIf="trabajador_externo==false">
    <button (click)="cambiarExterno(true)">Mostrar Empleado</button>
    <ul>
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li>{{trabajadores[1].contratado}}</li>
    </ul>
</div>

<div *ngIf="trabajador_externo==true">
    <button (click)="cambiarExterno(false)"> Mostrar Trabajador</button>
    <ul>
        <li>{{trabajadores[2].nombre}}</li>
        <li>{{trabajadores[2].edad}}</li>
        <li>{{trabajadores[2].cargo}}</li>
        <li>{{trabajadores[2].contratado}}</li>
    </ul>

</div>

<ul>
    <li *ngFor="let empleado of trabajadores; let i= index">
        Empleado {{i+1}}
        <ul>
            <li>{{empleado.nombre}} </li>
            <li>{{empleado.edad}} </li>
            <li>{{empleado.cargo}} </li>
            <li *ngIf="empleado.contratado == true">Está contratado</li>
            <li *ngIf="empleado.contratado == false">No está contratado</li>
        </ul>
    </li>
</ul>

<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'"[ngStyle]="{'background':color, 'color': 'white' }">Es de color ROJO</li>
    <li *ngSwitchCase="'green'"[ngStyle]="{'background':color, 'color': 'white' }">Es de color ROJO</li>
    <li *ngSwitchCase="'blue'"[ngStyle]="{'background':color, 'color': 'white' }">Es de color ROJO</li>
</ul>

 <input type= "text" [(ngModel)]="color_seleccionado"> 
 <pre [style.border]="color_seleccionado == 'red' ? '5px solid black' : '1px solid'"
      [style.background]="color_seleccionado"
      [ngClass] ="{

        fondoAzul: color_seleccionado == 'blue',
        fondoVerde: color_seleccionado == 'green',
        letraGrande: 1 == 1
      }">
     <strong>Color elegido</strong>
     {{color_seleccionado}}
 </pre>
<div [ngStyle]="{
    'background':color_seleccionado,
    'width': '200px',
    'height':'200px',
    'float':'right',
    'margin-right':'69%'
    }" ></div>
    

  
